*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* paletas */
/* white: rgb(247,247,247) cyan: rgb(61,210,227) violeta: rgb(109, 0, 119) */


/* -------HOME----------- */
    /* ---- header ---- */
.levelUpIcono{
    text-shadow: 2px 2px 1px rgb(109, 0, 119);
}
.levelUpTituloTitulo{
    margin:0;
    padding: 30px;
    background-color: rgb(247,247,247);
}
.levelUp{
    color: rgb(61,210,227);
    text-align: right;
    text-shadow: rgb(61,210,227) 2px 3px 5px;
    font-size: 50px;
}
.store{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    color: gray;
}

    /*---- main ---- */
.titulo{
    text-align: center;
    color:rgb(61,210,227) ;
    text-shadow: gray 2px 2px 5px;
    margin-top: 20px;
    margin-bottom:5px ;
}
.pregunta{
    margin: 10px 0 5px 10px ;
    color: gray;
}
.respuesta{
    margin: 10px 0 20px 30px ;
}
.text1{
    margin-bottom: 0;
    padding: 0;
}
    /* ---- footer ----*/
.redesSecciones{
    text-shadow: 1px 1px 4px gray;
}
.linkFooter{
    color: rgb(247,247,247);
    list-style: none;
}

.boton{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid gray ;
    color: white;
    background-color: darkgray;
    border-radius: 30px;
    padding: 5px;
    margin: 2px;
}

.borderCarrito{
    border-radius: 20px;
}

.alert{
    border-radius: 30px;
}
.listaTienda{
    list-style:none;
    font-size:12px;
}
.nombreTienda{
    display: inline;
    color: rgb(61,210,227);
    border-bottom: 1px solid rgb(109, 0, 119);
    border-radius: 20px;
    padding: 2px;

}
.precioId{
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 20px;
}